<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <input #searchInput type="text" (keydown)="onKeyDown($event, searchInput.value)" class="form-control" placeholder="name fragment or regexp">
        </div>
        <div class="col-md-2">
            <button class="btn btn-default" (click)="search(searchInput.value)">Find</button>
        </div>
        <div class="col-md-3 col-md-offset-3">
            <button class="btn btn-default" (click)="add()"><span class="material-icons pull-left">add</span>Add course</button>
        </div>
    </div>
</div>
<div class="row top-buffer">
    <div class="courses-list col-md-12">
        <div class="alert alert-warning" *ngIf="!courses">No courses</div>
        <div *ngIf="courses">
            <div *ngFor="let course of courses | async" class="col-md-12">
                <course [course]="course" (onRemove)="remove($event)" (onEdit)="edit($event)"></course>
            </div>
        </div>
    </div>
</div>
<modal-dialog
    *ngIf="removeDialogShow"
    severity="warning"
    title="Remove course"
    mainMessage="Are you sure you want to remove this course?"
    [messageDetails]="removeDetails | async"
    okButtonText="Yes"
    cancelButtonText="No"
    (onOkButtonClick)="removeDialogClose.next(true)"
    (onCancelButtonClick)="removeDialogClose.next(false)"
></modal-dialog>