<div class="col-md-12 spacer course-view">
    <div class="row">
        <div class="col-md-3">
            <span class="course-name">Video course: {{course?.name}}</span>
        </div>
        <div class="col-md-2">
            <span class="course-duration">{{course?.duration | duration}}</span>
        </div>
        <div class="col-md-2 col-md-offset-3">
            <span class="course-date">{{course?.creatingDate | date:"MM.dd.yyyy"}}</span>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default edit-course-btn" (click)="edit()">Edit course</button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-10">
            <pre class="course-description">{{course?.summary}}</pre>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default remove-course-btn" (click)="remove()">Delete</button>
        </div>
    </div>
</div>