<div class="col-md-12 spacer course-view">
    <div class="row">
        <div class="col-md-5">
            <span>Video course: {{course.name}} {{course.duration | duration}}</span>
        </div>
        <div class="col-md-2 col-md-offset-3">
            <span>{{course.creatingDate | date:"MM.dd.yyyy"}}</span>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default" (click)="edit()">Edit course</button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-10">
            <pre>{{course.summary}}</pre>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default" (click)="remove()">Delete</button>
        </div>
    </div>
</div>