<div class="row">
    <div class="col-md-12">
        <form #form="ngForm" errors class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Title</label>
                <div class="col-md-7">
                    <input
                        notEmpty
                        id="name"
                        name="name"
                        type="text"
                        class="form-control"
                        [(ngModel)]="course.name"
                    >
                </div>
            </div>
            <div class="form-group">
                <label for="summary" class="col-md-2 control-label">Summary</label>
                <div class="col-md-7">
                    <textarea
                        notEmpty
                        id="summary"
                        name="summary"
                        type="text"
                        class="form-control"
                        [(ngModel)]="course.summary"
                    ></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-md-2 control-label">Date</label>
                <div class="col-md-7">
                    <date-input date name="date" id="date" [(ngModel)]="course.creatingDate"></date-input>
                </div>
            </div>
            <div class="form-group">
                <label for="duration" class="col-md-2 control-label">Duration</label>
                <div class="col-md-7">
                    <duration-input number name="duration" [(ngModel)]="course.duration"></duration-input>
                </div>
            </div>
            <div class="form-group">
                <label for="authors" class="col-md-2 control-label">Authors</label>
                <div class="col-md-7">
                    <multiple-items-selector nonEmptyList name="authors" [(ngModel)]="selectedAuthors" [itemsPool]="authors"></multiple-items-selector>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <button type="button" class="btn btn-default" (click)="save(form)"
                    >Save</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default" (click)="cancel(form.form)"
                    >Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<modal-dialog
    *ngIf="showFormErrorsModal"
    title="Error"
    severity="error"
    mainMessage="Please correct wrong values before save"
    [messageDetails]="errors"
    hideCancelButton="true"
    (onOkButtonClick)="onModalCancel()"
></modal-dialog>
<modal-dialog
    *ngIf="showCancelFormConfirmationModal"
    title="Data will be lost"
    severity="warning"
    mainMessage="Are you sure you want to cancel without saving?"
    (onOkButtonClick)="cancelConfirmation.next(true)"
    (onCancelButtonClick)="cancelConfirmation.next(false)"
></modal-dialog>