<div class="row">
    <div class="col-md-3">
        <div class="form-control items-list input-control">
            <div
                class="item"
                (click)="selectItem(i)"
                [class.selected]="i === selectedItem"
                *ngFor="let item of value; let i=index;"
            >{{item?.name}}</div>
        </div>
    </div>
    <div class="col-md-1">
        <a class="btn btn-default" (click)="moveToPool()">-></a>
        <a class="btn btn-default" (click)="moveToSelected()"><-</a>
    </div>
    <div class="col-md-3">
        <div class="form-control items-list">
            <div
                class="item"
                (click)="selectItemFromPool(i)"
                [class.selected]="i === selectedItemFromPool"
                *ngFor="let item of itemsPool; let i=index;"
            >{{item?.name}}</div>
        </div>
    </div>
</div>