.items-list {
    height: 106px;
    overflow-x: hidden;
    overflow-y: auto;
}

.item {
    cursor: pointer;
}

.selected {
    background-color: lightgray;
}

a.btn {
    margin-top: 10px;
    max-width: 50px;
}

.buttons {
    max-width: 80px;
}