body {
    background-color: #eee;
}

.top-buffer {
    margin-top: 5px;
}

.ng-invalid.ng-touched,
.ng-invalid.ng-touched:not(form) input,
.ng-invalid.ng-touched:not(form) .input-control {
    border-color: red;
}